:host {
    display: block;
}

img {
    max-width: 100%;
}

.label {
    font-weight: 600;
}

fa-icon {
    color: #c3c3c3;
}

fa-icon:hover {
    cursor: pointer;
}

fa-icon.highlighted {
    color: gold;
}

#error-message {
    height: 100vh;
}